
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
   */

* {
    box-sizing: border-box;
}
body {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    font-family: "Inter", sans-serif;
}
.left,
.right {
    flex-flow: column;
    background-color: #99D4FF;
    width: 49%;
    height: 59.9rem;
    border: 3px black solid;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
}

.rightrow {
    background-color:#E6E6E6 ;
    border-style: solid;
    margin: 1%;
    padding-left: 15%;
    padding-right:15%
}

h1 {
    font-size: 2rem;
    text-align: center;
}
.left {
    height: 50%;
}
.topleft {
    display: flex;
    flex-flow: column;
    background-color: #99D4FF;
}
.row {
    display: flex;
    justify-content: space-between;
    background-color:#E6E6E6 ;
    border-style: solid;
    margin: 1%;
    padding-right: 5%;
    padding-left: 5%;
}
.row div{
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-align: right;
}
#remainingAmount div {
    justify-content: flex-end;
    text-align: right;
}
.row p {
    width: 70%;
}
.row input {
    width: 10rem;
    height: 60%;
    margin: 0;
    margin-left: 4px;
}
.rightrow {
    display: flex;
    justify-content: space-between;
}
/* rightrow needs to be made the entire height of the page */
input {
    display: flex;
    align-self: center;
    background-color: #93F291;
    width: 50%;
    height: 60%;
    margin: 1rem 0;
}
.center {
    display: flex;
    justify-content: center;
}