
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
   */

* {
    box-sizing: border-box;
}
body {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    font-family: "Inter", sans-serif;
    border: black solid 1px;
}
.left,
.right {
    flex-flow: column;
    background-color: #99D4FF;
    width: 49%;
    height: 59.9rem;
    border: 3px black solid;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
    height: 181vh;
}

.rightrow {
    background-color:#E6E6E6 ;
    border-style: solid;
    margin: 1%;
    padding-left: 15%;
    padding-right:15%
}

h1 {
    font-size: 2rem;
    text-align: center;
}
.left {
    height: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.topleft {
    display: flex;
    flex-flow: column;
    background-color: #99D4FF;
}
.row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color:#E6E6E6 ;
    border-style: solid;
    margin: 1%;
    padding-right: 5%;
    padding-left: 5%;
    height: 5rem;
}

.title,.return{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items:center;
    width: 13vw;
}

.title>*,.return>*{
    padding: 10px;
}

.right>.row:last-child>.return{
    justify-content: flex-end;
}

.row p {
    min-width: 50%;
    max-width: 70%;
    text-align: center;
}
.row input {
    width: 10rem;
    height: 60%;
    margin: 0;
    margin-left: 4px;
}
.rightrow {
    display: flex;
    justify-content: space-between;
}
/* rightrow needs to be made the entire height of the page */
input, select option {
    display: flex;
    align-self: center;
    background-color: #93F291;
    width: 50%;
    height: 60%;
    margin: 1rem 0;
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
}
.output{
    border-style:solid;
    border-radius:5px;
    background-color:#93F291;
    padding: 5px 10px 5px 10px;
    text-align: center;
}
#inputHolder p {
    display:flex;
    justify-content: center;
    border-style: solid;
    border: 2px solid black;
    background-color: #93F291;
    padding: 10px;
}
#inputHolder {
 display:flex;
 justify-content: center;
}
.visible{
    display: block;
}
.hidden, #inputHolder .hidden{
    display: none;
}

.circle{
    border-style: solid;
    border-radius: 100%;
}